
@media screen and (max-width: 1360px) {
    .pixelCard {
        height: 250px;
    }
    
    .pixel-text h2 {
        margin: 0 0 5px;
    }
}

@media screen and (max-width: 1400px) {
    div.infoContaner {
        width: 55%;
    }
}

@media screen and (max-width: 1030px) {
    div.infoContaner {
        width: 100%;
    }

    .glitcTitle {
        font-size: 6.5rem;
        margin: 0;
    }

    .infoSubtitle, .tags {
        margin: 0;
        margin-bottom: 10px;
        width: 100%;
    }

    .pixelCard {
        width: 100%;
        padding: 0.5vw 5vw;
    }

    .pixel-arrow {
        display: none;
    }
}