@media screen and (max-width: 1400px) {
    div.infoContaner {
        width: 55%;
    }
}

@media screen and (max-width: 1030px) {
    div.infoContaner {
        width: 100%;
    }

    .glitcTitle {
        font-size: 6.5rem;
        margin: 0;
    }

    .infoSubtitle, .tags {
        margin: 0;
        margin-bottom: 10px;
        width: 100%;
    }

    .pixelCard {
        width: 100%;
        padding: 5vw;
    }

    .hero {
        grid-template-columns: 1fr;
    }

    .avatar-panel {
        display: none;
    }
}